
<div class="flex flex-col md:min-w-160 -m-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Article</div>
        <button mat-icon-button (click)="back()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <div class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto">
        <div class="grid w-full">
            <ng-container [ngTemplateOutlet]="formTemplate"
                [ngTemplateOutletContext]="{$implicit:myForm}"></ng-container>

            <ng-container *ngIf="showMessage$ | async as e">
                <fuse-alert class="w-full my-5" [@shake]="true" [type]="e.code < 0 ? 'warn' : 'success'"
                    [appearance]="'border'">
                    <span fuseAlertTitle>Message</span>
                    {{e.message}}
                </fuse-alert>
            </ng-container>
        </div>
        <!-- Actions -->
        <div class="flex flex-col sm:flex-row sm:items-center justify-between mt-4 sm:mt-6">
            <div class="-ml-2">
            </div>
            <div class="flex items-center gap-2 mt-4 sm:mt-0">
                <button class="ml-auto sm:ml-0" mat-button (click)="back()">
                    Retour
                </button>

                <button class="order-first sm:order-last" mat-flat-button [color]="'primary'"
                    (click)="submit(myForm.getRawValue())">
                    Enregistrer
                </button>
            </div>
        </div>
    </div>
</div>

<ng-template #formTemplate let-myForm>
    <form [formGroup]="myForm">
        <div class="grid sm:grid-cols-10 md:grid-cols-4 gap-5">

            <mat-form-field appearance="fill" class="sm:col-span-2 md:col-span-2">
                <mat-label>Reference</mat-label>
                <input matInput formControlName="reference" type="text" required>
                <mat-error
                    *ngIf="myForm.controls.reference.invalid && (myForm.controls.reference.dirty || myForm.controls.reference.touched)">
                    Champ est requis
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill"  class="sm:col-span-2 md:col-span-2" >
                <mat-label>Designation</mat-label>
                <input matInput formControlName="designation" type="text" required>
                <mat-error
                    *ngIf="myForm.controls.designation.invalid && (myForm.controls.designation.dirty || myForm.controls.designation.touched)">
                    Champ est requis
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>PUA HT</mat-label>
                <input matInput formControlName="prixAchat_HT" type="text" required>
                <mat-error
                    *ngIf="myForm.controls.prixAchat_HT.invalid && (myForm.controls.prixAchat_HT.dirty || myForm.controls.prixAchat_HT.touched)">
                    Champ est requis
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" >
                <mat-label>PUA TTC</mat-label>
                <input matInput formControlName="prixAchat_TTC" type="text" required>
                <mat-error
                    *ngIf="myForm.controls.prixAchat_TTC.invalid && (myForm.controls.prixAchat_TTC.dirty || myForm.controls.prixAchat_TTC.touched)">
                    Champ est requis
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>PUV HT</mat-label>
                <input matInput formControlName="prixVente_HT" type="text" required>
                <mat-error
                    *ngIf="myForm.controls.prixVente_HT.invalid && (myForm.controls.prixVente_HT.dirty || myForm.controls.prixVente_HT.touched)">
                    Champ est requis
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" >
                <mat-label>PUV TTC</mat-label>
                <input matInput formControlName="prixVente_TTC" type="text" required>
                <mat-error
                    *ngIf="myForm.controls.prixVente_TTC.invalid && (myForm.controls.prixVente_TTC.dirty || myForm.controls.prixVente_TTC.touched)">
                    Champ est requis
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" >
                <mat-label>Qte acheté</mat-label>
                <input matInput formControlName="qteAchete" type="text" required>
                <mat-error
                    *ngIf="myForm.controls.qteAchete.invalid && (myForm.controls.qteAchete.dirty || myForm.controls.qteAchete.touched)">
                    Champ est requis
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" >
                <mat-label>Qte vendue</mat-label>
                <input matInput formControlName="qteVendue" type="text" required>
                <mat-error
                    *ngIf="myForm.controls.qteVendue.invalid && (myForm.controls.qteVendue.dirty || myForm.controls.qteVendue.touched)">
                    Champ est requis
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" >
                <mat-label>Stock Initial</mat-label>
                <input matInput formControlName="stockInitial" type="text" required>
                <mat-error
                    *ngIf="myForm.controls.stockInitial.invalid && (myForm.controls.stockInitial.dirty || myForm.controls.stockInitial.touched)">
                    Champ est requis
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" >
                <mat-label>Stock Final</mat-label>
                <input matInput formControlName="stockFinal" type="text" required>
                <mat-error
                    *ngIf="myForm.controls.stockFinal.invalid && (myForm.controls.stockFinal.dirty || myForm.controls.stockFinal.touched)">
                    Champ est requis
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill"  class="sm:col-span-2 md:col-span-4" >
                <mat-label>Info</mat-label>
                <input matInput formControlName="info" type="text" required>
                <mat-error
                    *ngIf="myForm.controls.info.invalid && (myForm.controls.info.dirty || myForm.controls.info.touched)">
                    Champ est requis
                </mat-error>
            </mat-form-field>

            <div></div>

        </div>
    </form>
</ng-template>
